<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Created By : Manjula Gurjar
 */

/** @var $block BC\Employee\Block\Add */
?>
<div class="row">
    <div class="col-md-8">
        <form name="addData" method="post" id="addData" class="form" enctype="multipart/form-data" action="<?php echo $this->getFormAction(); ?>" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
            data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <legend class="legend"><span><?= __('Employee Details') ?></span></legend>
                <fieldset class="fieldset row">
                    <div class="fields col-md-6">
                        <div class="field">
                            <label class="label" for="profile_image"><span><?= __('Profile Image') ?></span></label>
                            <div class="control">
                                <input name="profile_image" id="profile_image" title="profile_image" class="input-file" value="" type="file">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="first_name"><span><?= __('First Name') ?></span></label>
                            <div class="control">
                                <input name="first_name" id="first_name" title="first_name" value="" class="input-text" type="text" data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="middle_name"><span><?= __('Middle Name') ?></span></label>
                            <div class="control">
                                <input name="middle_name" id="middle_name" title="middle_name" value="" class="input-text" type="text">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="last_name"><span><?= __('Last Name') ?></span></label>
                            <div class="control">
                                <input name="last_name" id="last_name" title="last_name" value="" class="input-text" type="text" data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="dob"><span><?= __('Date of Birth') ?></span></label>
                            <div class="control">
                                <input name="dob" id="dob" title="dob" value="" class="input-text" type="text" data-validate="{required:true}" readonly="readonly">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="email"><span><?= __('Email') ?></span></label>
                            <div class="control">
                                <input name="email" id="email" title="email" value="" class="input-text" type="text" data-validate="{required:true,'validate-email':true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="phone"><span><?= __('Phone Number') ?></span></label>
                            <div class="control">
                                <input name="phone" id="phone" title="phone" value="" class="input-text" type="text" data-validate="{required:true,'phone_number_ten_digit':true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="father_name"><span><?= __('Employee\'s Father Name') ?></span></label>
                            <div class="control">
                                <input name="father_name" id="father_name" title="father_name" value="" class="input-text" type="text" data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="designation"><span><?= __('Designation') ?></span></label>
                            <div class="control">
                                <input name="designation" id="designation" title="designation" value="" class="input-text" type="text" data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="address"><span><?= __('Address') ?></span></label>
                            <div class="control">
                                <input name="address" id="address" title="address" value="" class="input-text" type="text" data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="salary"><span><?= __('Salary') ?></span></label>
                            <div class="control">
                                <input name="salary" id="salary" title="salary" value="" class="input-text" type="text" data-validate="{required:true,'validate-number':true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label" for="date_of_joining"><span><?= __('Date of Joining') ?></span></label>
                            <div class="control">
                                <input name="date_of_joining" id="date_of_joining" title="date_of_joining" value="" class="input-text" type="text" data-validate="{required:true}" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action submit primary" title="Save"><span><?= __('Save') ?></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/x-magento-init">
   {
       "*": {
           "phone_number_ten_digit": {}
       }
   }
</script>
<script type="text/javascript">
    require(["jquery", "mage/calendar"], function($){
        $("#date_of_joining,#dob").calendar({
            showsTime: false,
            dateFormat: "y-mm-dd",
            changeMonth: true, 
            changeYear: true
        })
    });
</script>