<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Created By : Manjula Gurjar
 */
/** @var $block BC\Employee\Block\Employee */
?>
<div class="employee-main-container">
    <div class="add-emp-div">
        <a href="<?= $this->getUrl('employee/index/add') ?>" class="add-emp-link employee-link" ><?= __('Add New Employee') ?></a>
    </div>
    <?php
    $employeeCollection = $block->getCollection();
    if ($employeeCollection->getSize() > 0) : ?>
        <div class="emp-list">
            <ul>
                <?php foreach ($employeeCollection as $employee) : ?>
                    <li>
                        <div class="employee-list">
                            <div class="col-left">
                                <img src="<?= $this->getImageUrl($employee->getProfileImage()) ?>">
                            </div>
                            <div class="col-middle">
                                <?php if($employee->getFirstName()): ?>
                                    <div class="detail-row">
                                        <label><?= __('First Name') ?>:</label>
                                        <?php echo $employee->getFirstName(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getMiddleName()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Middle Name') ?>:</label>
                                        <?php echo $employee->getMiddleName(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getLastName()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Last Name') ?>:</label>
                                        <?php echo $employee->getLastName(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getEmail()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Email') ?>:</label>
                                        <?php echo $employee->getEmail(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getDob()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Date of Birth') ?>:</label>
                                        <?php echo $employee->getDob(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getPhone()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Phone Number') ?>:</label>
                                        <?php echo $employee->getPhone(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getFatherName()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Father Name') ?>:</label>
                                        <?php echo $employee->getFatherName(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getDesignation()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Designation') ?>:</label>
                                        <?php echo $employee->getDesignation(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getAddress()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Address') ?>:</label>
                                        <?php echo $employee->getAddress(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getSalary()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Salary') ?>:</label>
                                        <?php echo $employee->getSalary(); ?>
                                    </div>
                                <?php endif; ?>
                                <?php if($employee->getDateOfJoining()): ?>
                                    <div class="detail-row">
                                        <label><?= __('Date of joining') ?>:</label>
                                        <?php echo $employee->getDateOfJoining(); ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="col-right">
                                <a href="<?= $this->getUrl('employee/index/edit',['id'=>$employee->getId()]) ?>" class="employee-link"><?= __('Edit') ?></a>
                                <a href="<?= $this->getUrl('employee/index/delete',['id'=>$employee->getId()]) ?>" class="employee-link"><?= __('Delete') ?></a>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="toolbar-bottom">
            <div class="toolbar bottom">
                <?php echo $block->getPagerHtml(); ?>
            </div>
        </div>
    <?php else : ?>
        <p class="no-data"><?php echo __('No Employee found') ?></p>
    <?php endif; ?>
</div>