body.employee-index-index .employee-main-container a.employee-link {
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    border-radius: 3px;
}
body.employee-index-index .employee-main-container a:hover {
    background: #006bb4;
    border: 1px solid #006bb4;
    color: #fff;
    text-decoration: none;
}
a.add-emp-link {
    float: right;
}
.employee-list img {
    width: 250px;
    height: 250px;
}
ul {
    list-style-type: none;
}
.add-emp-div {
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
.emp-list {
    clear: both;
}
.employee-list > div {
    display: inline-block;
    vertical-align: top;
}
.col-left {
    width: 30%;
}
.col-middle {
    width: 49%;
}
.col-right {
    width: 20%;
}
.employee-list {
    background-color: #e1e2e8;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.detail-row label {
    font-weight: bold;
}
.detail-row {
    margin: 5px 0 0 0;
}
.emp-list li {
    margin-bottom: 30px;
}
/*ipad view*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-middle {
        width: 40%;
    }
    .col-right {
        width: 25%;
    }
}
/*mobile view*/
@media (max-width: 767px) {
    .employee-list > div {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
    .emp-list ul {
        padding-left: 0;
    }
    body.employee-index-edit #editData .field, body.employee-index-add #addData .field {
        display: block !important;
    }
    body.employee-index-edit #editData label.label, body.employee-index-add #addData label.label {
        width: 100% !important;
        text-align: center;
    }
    body.employee-index-edit #editData .control, body.employee-index-add #addData .control {
        width: 100% !important;
        text-align: center !important;
    }
}
body.employee-index-edit #editData fieldset.fieldset.row, body.employee-index-add #addData fieldset.fieldset.row {
    background-color: #e1e2e8;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
body.employee-index-edit #editData .field, body.employee-index-add #addData .field {
    display: flex;
}
body.employee-index-edit #editData label.label, body.employee-index-add #addData label.label {
    width: 20%;
}
body.employee-index-edit #editData .control, body.employee-index-add #addData .control {
    width: 79%;
}
body.employee-index-edit #editData input[type="text"], body.employee-index-add #addData input[type="text"] {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    height: 40px;
}
body.employee-index-edit #editData .action.submit.primary, body.employee-index-add #addData .action.submit.primary {
    width: 150px;
}
body.employee-index-edit #editData .actions-toolbar .primary, body.employee-index-add #addData .actions-toolbar .primary {
    float: none !important;
    width: 100%;
}
.pager .limiter {
    display: none;
}
.header.links a.manage_employee {
  animation: bounce 1s infinite alternate !important;
  -webkit-animation: bounce 1s infinite alternate;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #0066ff;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

body.employee-index-edit .fieldset>.legend, body.employee-index-add .fieldset>.legend {
    border-bottom: none;
    background-color: #6e716e;
    margin-bottom: 0px;
    color: #fff;
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.employee-main-container p.no-data {
    clear: both;
    text-align: center;
    font-size: 16px;
}